
.filter-bar
{
    height:3%;
    width:93%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin:30px;
    flex-wrap: wrap; 
}
.search-box-container
{
    padding:5px;
    background-color: white;   
    box-shadow: 0px 5px 5px #ece6e6;
    border-radius: 3px;
    display:flex;
    align-items:center;
    margin:10px;
}
.search-box
{   
    height:50px;
    font-size: 20px;
    border:none;
    border-radius: 3px;
    margin-left:5px;
    
}
.search-box:focus
{
    outline:none;
}
.Dark-search-box-container
{
    background-color: #2b3945;
    box-shadow: 0px 15px 15px #11212e;
    color:white;
}
.Dark-search-box
{
    background-color: #2b3945;
    color:white;
}
.search-box-image
{
    font-size: 25px;
    color: grey;
}
.dropdown
{
    
    
}
.dropdown:focus
{
    outline:none;
}
.Light-dropdown
{
    box-shadow: 0px 5px 5px #ece6e6;
}
.Dark-dropdown
{
    background-color: #2b3945;
    color:white;
    box-shadow: 0px 15px 15px #11212e;
}