.greetings-container
{
    display: flex;
    flex-direction:column;
}
.greetings-form
{
    display: flex;
    flex-direction:column;
}
.name-field
{
    height:30px;
    width: 200px;
    border:2px solid black;
    border-radius:0;
    align-self:center;
}
.name-field:focus
{
    outline:none;
}
.submit-btn
{
    width:80px;
    height:30px;
    border:2px solid black;
    margin-top:15px;
    align-self:center;
}
.display-name
{
    align-self:center;
}